

* {      /* instruction pour tous les elements */
    margin:0;  /* on met tous les réglages a 0 pour commencer */
    padding:0; /* on met tous les réglages a 0 pour commencer */
    box-sizing: border-box;
    list-style-type:none; /* enleve les puces qui se metent par defaut devant les listes*/

}
a,
a:visited{
    color:black;
    text-decoration: none;
}
body {
    font-family: 'Raleway', sans-serif;
    padding:4px 30px 0px 30px;

    text-align: justify;
    line-height:30px;

    
}
header{  /*  je mets en ligne le logo et le menu*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.menu{ /* tout le bloc menu est  */
    position: relative;
    top: 10px;
}   
#menu li 
{
   display:inline;
   padding:40px 40px 4px 10px;
   
}
h2
{
    font-size:large;
    font-weight:bolder;
    letter-spacing:normal;
    margin-bottom: 10px;
    margin-left:10px;

}
p{
    font-size:small;
    font-weight:normal;
    letter-spacing:normal;
    margin-bottom: 10px;
}

form i{
    padding: 10px 0px 10px 20px;
    width:50px;
    height: 40px;
    background:#F2F2F2;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    margin-bottom: 10px;

    
}

#ville{
    position:relative;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px; 
    font-weight:bolder;
    border-color: transparent;
    width: 150px;
    height: 40px;
    
}  

.button{
    width: 90px;
    height: 40px;
    border:#F2F2F2;
    color:white;
    background:#0065FC;
    letter-spacing: 1px;  
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;  
   
}

.filtres {

    position:relative;
    display: flex;
    top:10px;
    margin-bottom: 30px;

     
  }

#listefiltres li{

    
    font-weight:bolder;
    display:inline;
  justify-content: space-around;
  margin-right:20px;
 
  
}

#listefiltres i{  /*  mise en forme icones*/
    
    color:#0065FC;
    background:#DEEBFF;
    width:40px;
    height:40px;
    border-radius: 50px;
    display:inline-flex;
    
    justify-content: center;
    align-items: center;
   

}

.filtre{ 

    
    background-color:white;
    height:40px;
    border-left: transparent;
   
    width:auto;
    min-width:100px;
    height:40px;
    border-color:#F2F2F2 ;
    border-width: 0.01px;
    border-top-right-radius:25px ;
    border-bottom-right-radius: 25px;
    border-left: transparent;
    top:50px;
} 

#info{
    color:#0065FC;
    border:1px solid #CCC;
    border-radius: 50px;
    width:20px;
    height:20px;

    display:inline-flex; 
    
    justify-content: center;
    align-items: center;

} 

.cannebiere{
   
   height:100px;
   width:200px;

    
   
    background: url(ressources/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg)top/cover;

  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

} 
.duport{
   
    height:100px;
   width:200px;
   

   
     background:url(ressources/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg) left/cover;
   
     border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 } 
 .mouettes{
   
    height:100px;
   width:200px;
   
    
     background:url(ressources/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg) left/cover;
    
     border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 
 } 

  .mer{
   
    height:100px;
   width:200px;
   
  
  
    background:url(ressources/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg) left/cover;
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}   
.panier{
   
   height:100px;
   width:200px;

  
     background:url(ressources/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg) left/cover;
     
     border-top-left-radius: 10px;
    border-top-right-radius: 10px;

 } 
 .amina{
   
    height:100px;
   width:200px;
  
    
     background:url(ressources/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg) left/cover;
     
     border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 } 

#ligne1, #ligne2{ 
    /*width:auto; */        
    display: flex;
    
    


} 

#titre_chart{ 
    display:flex;
    justify-content: space-between;
    margin:10px;


    }

.soleil{
    height:120px;
   width:150px;
    
     background:url(ressources/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg) left/cover;
     margin:10px;

     
     border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;        
    
} 




.eau{
    height:120px;
    width:150px;
    
   
    background:url(ressources/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg) left/cover;
    margin:10px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;  
} 



.bleu{
height:120px;
width:150px;

 background:url(ressources/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg) left/cover;

 margin:10px;
  
  border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;      

} 

.description{
    text-align:left;
    padding:10px;
    } 

.nomHotel{

    font-weight:bolder;
    
    
    } 

.bloccannebiere, .blocduport,.blocmouettes,.blocmer,.blocpanier,.blocamina{

    display:flex;
    flex-direction:column;
    align-items:left;
    background-color:white;
    padding:5px;
    border-radius:10px ;
    margin-left:20px;
    margin-bottom:20px;


   } 

 .blocsoleil, .bloceau, .blocbleu{
    display:flex;
    align-items:center;
    background-color:white;
    padding-right:5px;
    border-radius:10px ;
    margin-top:10px;
     
    } 

.etoiles{
    display:flex;

    } 
    .bluestar{
        color:#0065FC;
        }

    .greystar{
        color:#F2F2F2;
        }

.heberg{
    
    background-color:#F2F2F2;
    border-radius: 10px;
    padding:10px;
    width:60%;
    
    

} 
.pop{
    
    
    background-color:#F2F2F2;
    border-radius: 10px;
    padding:30px;
    width:35%;
    
    
} 
.hebergement{
    
    display: flex;
    justify-content: space-between;
    height:70%;
    
    
} 



/* ***************  Activités  ******************************* */
.imgvieuxport{
    height:370px;
   width:250px;
   
    background: url(ressources/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg)top/cover;
 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color:white;
    
    margin-bottom:20px;
    box-shadow:5px 5px 5px #F2F2F2;

    } 

    .grandeimage{
        display:flex;
        flex-direction:column;
        display:flex;
    flex-direction:column;
    align-items:center;
    background-color:white;
    padding:5px;
    border-radius:10px ;
    margin-left:10px;
    margin-bottom:10px;
    box-shadow:5px 5px 5px #F2F2F2;
        } 
.pomegues{
    height:200px;
   width:250px;
   
   
    background: url(ressources/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg)top/cover;
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
   
   
    } 
.frioul{
    height:130px;
   width:250px;

    background: url(ressources/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg)top/cover;
  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
  
    } 


    .petiteimage{
        display:flex;
        flex-direction:column;
        display:flex;
    flex-direction:column;
    align-items:center;
    background-color:white;
    padding:5px;
    border-radius:10px ;
    margin-left:10px;
    margin-bottom:10px;
    box-shadow:5px 5px 5px #F2F2F2;
        } 
.calanques{
    height:370px;
   width:250px;

    background: url(ressources/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg)top/cover;
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
      background-color:white;  
    margin-bottom:20px;
    box-shadow:5px 5px 5px #F2F2F2;
   
    } 
.lagarde{
    height:150px;
   width:250px;

    background: url(ressources/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg)top/cover;
  
  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    } 
.longchamp{
    height:180px;
   width:250px;
   
    background: url(ressources/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg)top/cover;
  

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    } 

    .descriptionbis{
    text-align:left;
    padding:10px;
    font-weight:bolder;
    } 

.activite{
    display:flex;
    flex-direction:column;
    

    } 

    .images{
        display:flex;
        justify-content:space-between;
        margin-left:5px;
        margin-right:5px;
        
         } 

  



/* ***************  A propos  ******************************* */

.foot{
    padding:0px;
    height:200px;
    width:100%;
    display:flex;
    background-color:#F2F2F2;
    
    } 

.cola{
    margin-left:30px;
    margin-right:200px;
    margin-top:20px;
    

      } 

.colb  {
        margin-right:200px;
        margin-top:20px;


      } 

 .colc  {

        margin-top:20px;

      } 




/* **************  Responsive *******   */

@media screen and (max-width:650px){
.hebergement{

display:block;

}

.pop{
    width:60%;
}

}